.file-upload-container {
    border: 2px dashed var(--mat-sys-primary);
    border-radius: 11px;
    padding: 5rem 25px;

    input {
        display: none;
    }
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.file-container {
    height: 200px;
    width: 200px;
}