:host {
    display: block;
    --mat-standard-button-toggle-height: 16px
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

    .mat-mdc-card-header {
        cursor: move;
    }
}