<h4 mat-dialog-title class="fs-4">New Template</h4>
<mat-dialog-content>
    <div class="row g-3 m-0 p-0" [formGroup]="templateForm">
        <div class="col-12 col-sm-6 col-md-8 row g-3 align-items-stretch overflow-auto border" [style.height.px]="400">
            @for (screen of screen.screens(); track $index) {
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="screen-resolution-item" [class.active]="orientation?.value == screen.orientation" (click)="onClickSelectResolution(screen.orientation)" matRipple>
                        <h6 class="fs-6">{{ screen.name }}</h6>
                        <p>{{ screen.orientation.resolution.width }} x {{ screen.orientation.resolution.height }}</p>
                    </div>
                </div>
            }
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-3">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Template Name</mat-label>
                <input type="text" formControlName="name" matInput>
                <!-- <mat-error *ngIf="controls.get('name').hasError('required')">Canvas name is required.</mat-error> -->
            </mat-form-field>
            <mat-form-field class="mt-3" appearance="outline" subscriptSizing="dynamic">
                <mat-label>Template Description</mat-label>
                <textarea formControlName="description" [rows]="6" matInput></textarea>
                <!-- <mat-error *ngIf="controls.get('description').hasError('required')">Canvas description is required.</mat-error> -->
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button (click)="onClickCancel()" mat-dialog-close mat-button>Cancel</button>
    <button (click)="onCreateNewCanvas()" mat-flat-button [mat-dialog-close]="templateForm.value" color="primary">Create Canvas</button>
</mat-dialog-actions>