<mat-toolbar class="border-bottom">
    <button (click)="drawer.toggle()" mat-icon-button aria-label="Sidebar button">
        <mat-icon>menu</mat-icon>
    </button>
    <span>VCAST PLAY v2</span>
    <span class="spacer"></span>
    <button [mat-menu-trigger-for]="userAccount" mat-icon-button aria-label="User Account">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userAccount="matMenu">
        <button mat-menu-item><mat-icon>account_circle</mat-icon>My Profile</button>
        <button mat-menu-item><mat-icon>manage_accounts</mat-icon>Account Settings</button>
        
        <button mat-menu-item><mat-icon>logout</mat-icon>Logout</button>
    </mat-menu>
</mat-toolbar>

<mat-drawer-container class="vh-100">
    <mat-drawer class="shadow rounded-0" #drawer mode="side">
        <mat-nav-list class="px-3">
            <mat-list-item class="rounded-0">
                <mat-icon matListItemIcon>dashboard</mat-icon>
                <div matListItemTitle>Dashboard</div>
            </mat-list-item>
            <mat-list-item class="rounded-0">
                <mat-icon matListItemIcon>monitor</mat-icon>
                <div matListItemTitle>Screen Registration</div>
            </mat-list-item>
            <mat-list-item class="rounded-0">
                <mat-icon matListItemIcon>photo_library</mat-icon>
                <div matListItemTitle>Asset Library</div>
            </mat-list-item>
            <mat-list-item class="rounded-0">
                <mat-icon matListItemIcon>playlist_play</mat-icon>
                <div matListItemTitle>Playlist</div>
            </mat-list-item>
            <mat-list-item class="rounded-0">
                <mat-icon matListItemIcon>imagesearch_roller</mat-icon>
                <div matListItemTitle>Design Layout</div>
            </mat-list-item>
            <mat-list-item class="rounded-0">
                <mat-icon matListItemIcon>schedule</mat-icon>
                <div matListItemTitle>Schedules</div>
            </mat-list-item>
            <mat-list-item class="rounded-0">
                <mat-icon matListItemIcon>tv_displays</mat-icon>
                <div matListItemTitle>Screen Management</div>
            </mat-list-item>
            <mat-list-item class="rounded-0">
                <mat-icon matListItemIcon>description</mat-icon>
                <div matListItemTitle>Reports</div>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet />
    </mat-drawer-content>
</mat-drawer-container>
