<div class="container mt-3">
    <app-map [address]="screen.selectedScreen()?.address!" />

    <div class="my-4 pb-3 border-bottom d-flex flex-row align-items-center">
        <mat-card-title class="fw-semibold fs-5">Screen Details</mat-card-title>
        <button class="ms-auto" (click)="screen.onSaveScreen()" mat-raised-button><mat-icon>save</mat-icon> Save</button>
        <!-- <button class="ms-1" (click)="user.isDrawer.set(false)" mat-mini-fab><mat-icon>close</mat-icon></button> -->
    </div>

    <div class="mt-3">
        {{ screen.selectedScreen() | json }}
    </div>
</div>  