
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
/* You can add global styles to this file, and also import other style files */
@use "leaflet/dist/leaflet.css";
@use 'bootstrap/scss/bootstrap';
@use 'ngx-toastr/toastr';
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  p {
    margin: 0;
    padding: 0;
  }

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: (
      // use-roboto: true,
      use-system-variables: true, // Enable system variables for typography
    ),
    density: 0,
  ));

  
  @include mat.table-overrides((
    row-item-outline-color: var(--mat-sys-surface-container-highest)
  ));
  
  @include mat.form-field-overrides((
    container-height: 10px
  ));

  // @include mat.button-overrides(( 
  //   filled-container-color: #F58F20,
  //   outlined-outline-color: #F58F20,
  //   outlined-label-text-color: #F58F20
  // ));

  .mat-drawer-container {
    height: calc(100vh - 64px);

    .mat-drawer {
      width: var(--mat-sidenav-container-width);
      border-radius: 4px;
    }
  }

  .mat-mdc-form-field {
    width: 100%;
    
    @include mat.form-field-density(-3);
  }
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-row:hover {
  background: var(--mat-sys-surface-container);
}

.header-title {

  .mat-mdc-icon-button {
    background-color:  var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }
}

.sideNavDetails {
  max-width: 600px;
  min-width: 600px;
}

.html-duration-picker {
  padding: 0 !important;
}

.html-duration-picker-input-controls-wrapper {
  width: 100% !important;

  .controls {
    visibility: hidden !important;
  }
}

/* Scrollbar effect */

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}