
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
/* You can add global styles to this file, and also import other style files */
@use "leaflet/dist/leaflet.css";
@use 'bootstrap/scss/bootstrap';
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  
  @include mat.table-overrides((
    row-item-outline-color: var(--mat-sys-surface-container-highest)
  ));
  
  @include mat.form-field-overrides((
    container-height: 10px
  ));

  @include mat.button-overrides(( 
    filled-container-color: #F58F20,
    outlined-outline-color: #F58F20,
    outlined-label-text-color: #F58F20
  ));

  .mat-drawer-container {
    height: calc(100vh - 64px);

    .mat-drawer {
      width: var(--mat-sidenav-container-width);
      border-radius: 4px;
    }
  }

  .mat-mdc-form-field {
    width: 100%;
    
    @include mat.form-field-density(-3);
  }
}

.spacer {
  flex: 1 1 auto;
}

.cdk-drop-list-dragging {
  opacity: 0.5;
  border-left: 2px solid #000;
  padding-left: 8px;
}


/* Scrollbar effect */

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}